{% load i18n static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{% static "census/style.css" %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');</style>
</head>
<body>
    <div class="bg-1">
        <h1 class="t-stroke t-shadow">HOLAS BUENAS NOCHES</h1>
     </div>
     
    <p class="pepe">Estas son los ID de las personas que ya tenían permiso para votar: {{id_repeti}}</p>


</body>
</html>